{% include 'core/navbarar.html' %}
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-center w3-text-black" style="padding:48px; padding-top: 240px;">
    <span class="w3-jumbo w3-hide-small">معمل القاضي</span>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium">معمل القاضي</span><br>
    <span class="w3-xlarge" style="font-size: 40px;">.توقف عن إضاعة الوقت الثمين في مشاريع ليست أنت</span>
  </div> 
</header>
<div class="w3-container w3-light-grey" style="padding:128px 16px; padding-top: 70px;" id="Services">
  <h2 class="w3-center">الخدمات</h2>
  <p class="w3-center w3-xlarge">هذه هي الخدمات المتاحه</p>
  <form method = "post">
  {% csrf_token %}
  <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
    <input name = "serviceTitle" id = "serviceTitle" type = "hidden">
    <input type="hidden" id="pageLang"  name="pageLang" value=""/>
    {% for service in Services %}
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-card">
        <div class="w3-container">
          <h3 class="w3-center">{{service.serviceTitleAR}}</h3>
          <p class="w3-center"><input type = "submit" onclick='setServiceTitle("{{service.serviceTitleAR}}")' value = "اختر الخدمه" class=" w3-button w3-green" style="font-size: 20px;"/></p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  </form>
</div>
<script>
  function setServiceTitle(serviceTitle){
    document.getElementById("serviceTitle").value = serviceTitle;
    document.getElementById("pageLang").value = "ar";
  }
</script>
{% include 'core/footerar.html' %}